body{
}
.row{
text-align:center;margin:2%;
}
h1{
margin-top:2%;
font-family:sens-serif;
font-weight:bold;
font-size:50px;
text-align:center;
color:purple;
}
.charts{
background-color:white !important;
border-radius:5px;
margin:1%;
width:100%;
max-width:100%;
max-height:300px;
}
.allchart{
background-color:black;
padding-bottom:5%;
padding-top:5%;
}
p{
color:white;
text-align:left;
font-weight:bold;
font-family:arial;
margin-bottom:2%;
margin-left:4%;
font-size:22px;
}